body{
    margin: 0;
    font-family: 'Source Sans Pro';
}

a{ 
    text-decoration: none;
    color: white;
}

/* navbar */
.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    background-color: #263343; 
    padding: 8px 12px;
}

.navbar_logo{ 
    font-size: 24px; 
    color: white;
}

.navbar_logo i{ 
    color: turquoise;
}

.navbar_menu{ 
    display: flex;
    list-style: none;
    padding-left: 0; 
}

.navbar_menu li{ 
    padding: 8px 12px; 
}

.navbar_menu li:hover{
    background-color: turquoise; 
    border-radius: 4px; 
}

.navbar_icons{
    display: flex;
    list-style: none; 
    color: white;
    padding-left: 0;
}

.navbar_icons li{ 
    padding: 8px 12px; 
}

.navbar_toogleBtn{ 
    display: none; 
    position: absolute; 
    right: 32px;
    font-size: 24px; 
    color: turquoise; 
}

@media screen and (max-width: 768px){ 
    .navbar{ 
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu{ 
        display: none; 
        flex-direction: column;
        align-items: center;
        width: 100%
    }

    .navbar_menu li{ 
        width: 100%; 
        text-align: center;
    }

    .navbar_icons{ 
        display: none; 
        /* row content >> justify-content  */
        justify-content: center; 
        width: 100%
    }

    .navbar_toogleBtn{ 
        display: block; 
    }

    .navbar_menu.active, 
    .navbar_icons.active{ 
        display: flex; 
    }

}

/* side_nav */
.side_nav{
    list-style-type: none;
    margin: 50px;
    padding: 0;
    width: 200px;
    background-color: #dfedf1; 
    border-radius: 4%;
}
.side_nav li a {
    display: block; 
    color: #000; 
        padding: 8px 16px;
        text-decoration: none;
}
.side_nav li a.active{ 
    border-radius: 4%;
    background-color: #a0ddf1; 
    color: white; 
}
.side_nav li a:hover:not(.active){
    background-color: rgb(155, 153, 153); 
    color: white;
}
 

/* profile */
.mypage{ 
    width: 80%; 
    margin: 0 auto; 
    display: flex;
}

.mypage h2{ 
    margin: 0; 
}

.form-row{ 
    padding: 50px;
    width: 100%;
}

.form-row p textarea{ 
    padding: none;
}