/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;} 

/* common */
.wrapper{
    width: 1170px; 
    height: 200px;
    margin: 0 auto;
}
.clearfix{
    content: ''; 
    display: block; 
    clear: both;
}

/* header */
header{ height: 75px; background-color: #e418da; border:1px solid #253342; position: fixed; width: 100%; z-index: 9999; top: 0; left: 0; }
h1{ color: black; line-height: 75px; float: left; }
.menu{float:right}
.menu li{float:left}
.menu a{ line-height: 75px; color: black; padding: 0 15px; display: block; }

/* body */
/* body{ padding-top: 70px; } */

.side_wrapper{
    width: 1170px;
    margin: 0 auto; 
}
.side_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1; 
}
.side_bar li a {
    display: block; 
    color: #000; 
        padding: 8px 16px;
        text-decoration: none;
}
.side_bar li a.active{ 
    background-color: #90d5eb; 
    color: white; 
}
.side_bar li a:hover:not(.active){
    background-color: #555; 
    color: white;
}


/* .body_wrapper{
    width: 1570px; 
    margin: 0px auto; 
} */